* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 1900px;
  height: 1000px;
  padding-right: 600px;
}

.container {
  border: 1px solid #ccc;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-170%, -50%);
  width: 325px;
}

.screen {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 3.0rem;
  height: 80px;
  border: none;
  background-color: transparent;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 2.0rem;
  color: #f8f8f8
}

button:hover {
  background-color: rgba(12, 143, 97, 0.4);
}

button:active {
  background-color: rgba(12, 195, 61, 0.837);
}

.all-clear:hover {
  background-color: rgba(241, 115, 119, 0.4);
}

.all-clear:active {
  background-color: rgba(232, 36, 43, 0.825);
}


.equal-sign {
  height: 100%;
  grid-area: 2/4/6/5;
}

.equal-sign:hover {
  background-color: rgba(78, 159, 212, 0.4);
}

.equal-sign:active {
  background-color: rgba(13, 149, 240, 0.862);
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}